body {
  background: #0b1026;
}

h1 {
  text-transform: uppercase;
  color: #f2efe9;
}

.star {
  fill: white;
  filter: drop-shadow(0 0 6px rgba(210, 207, 194, 0.8));
  transition: r 0.3s ease, fill 0.3s ease;
}

.star:hover {
    fill: #f6e7b4;
    filter: drop-shadow(0 0 6px rgba(246, 231, 180, 0.8));
}

.link {
  stroke: rgba(255, 255, 255, 0.25);
  stroke-width: 1;
  transition: opacity 0.3s ease;

}

.dimmed {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

